[Unit]
Description=ROS2 GUI Launch
After=graphical.target dbus-user-session.service
Wants=graphical.target dbus-user-session.service
DefaultDependencies=no

[Service]
Type=simple
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
# …その他の Environment はそのまま
ExecStart=/bin/bash -c 'source /opt/ros/humble/setup.bash && /home/pi/CoRE_ControlScreen_sample/service/ros2_launch.sh'
ExecStop=/bin/kill -s SIGINT ${MAINPID}
Restart=on-failure
RestartSec=5
User=pi
Group=pi

[Install]
WantedBy=default.target